
// ${shortPluginName}ConfigList.java --
//
// ${shortPluginName}ConfigList.java is part of ElectricFlow.
//
// Copyright (c) $year Electric Cloud, Inc.
// All rights reserved.
//

package ecplugins.${name}.client;

import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.TreeMap;

import com.google.gwt.user.client.ui.ListBox;
import com.google.gwt.xml.client.Document;
import com.google.gwt.xml.client.Node;
import com.google.gwt.xml.client.XMLParser;

import static com.electriccloud.commander.gwt.client.util.XmlUtil.getNodeByName;
import static com.electriccloud.commander.gwt.client.util.XmlUtil.getNodeValueByName;
import static com.electriccloud.commander.gwt.client.util.XmlUtil.getNodesByName;

public class ${shortPluginName}ConfigList
{

    //~ Instance fields --------------------------------------------------------

    private final Map<String, ${shortPluginName}ConfigInfo> m_configInfo =
        new TreeMap<String, ${shortPluginName}ConfigInfo>();

    //~ Methods ----------------------------------------------------------------

    public void addConfig(
            String configName)
    {
        m_configInfo.put(configName, new ${shortPluginName}ConfigInfo());
    }

    public String parseResponse(String cgiResponse)
    {
        Document document     = XMLParser.parse(cgiResponse);
        Node     responseNode = getNodeByName(document, "response");
        String   error        = getNodeValueByName(responseNode, "error");

        if (error != null && !error.isEmpty()) {
            return error;
        }

        Node       configListNode = getNodeByName(responseNode, "cfgs");
        List<Node> configNodes    = getNodesByName(configListNode, "cfg");

        for (Node configNode : configNodes) {
            String configName   = getNodeValueByName(configNode, "name");

            addConfig(configName);
        }

        return null;
    }

    public void populateConfigListBox(ListBox lb)
    {

        for (String configName : m_configInfo.keySet()) {
            lb.addItem(configName);
        }
    }

    public Set<String> getConfigNames()
    {
        return m_configInfo.keySet();
    }

    public String getEditorDefinition(String configName)
    {
        return "${pluginName}";
    }

    public boolean isEmpty()
    {
        return m_configInfo.isEmpty();
    }

    public void setEditorDefinition(
            String editorDefiniton)
    {
    }

    //~ Inner Classes ----------------------------------------------------------

    private class ${shortPluginName}ConfigInfo
    {

        //~ Instance fields ----------------------------------------------------

        //~ Constructors -------------------------------------------------------

        public ${shortPluginName}ConfigInfo()
        {
        }
    }
}
