<module>
    <entry-point class="ecplugins.${name}.client.ConfigurationManagementFactory"/>
    <inherits name="com.electriccloud.commander.gwt.ComponentBase"/>
    <inherits name="ecinternal.ECInternal"/>
    <!-- The following property limits the plugin to work with Firefox.  This saves tremendously
    during development because the gwt compiler has to generate less <language,browser> sets of
    javascript files. Be careful to re-comment this when doing a build of your plugin that you
    plan to publish!
    <set-property name="user.agent" value="gecko1_8" />
    -->
    <!-- Reduce JAR size by restricting locales to build: remove this if the plugin is localized -->
    <set-property name="locale" value="default"/>
</module>
